<%= render "shared/header" %>

<div class="container">
  <div class="my-page">

    <h2><%= @user.nickname %>さんのマイページ</h2>

    <div class="m-user-avatar">
      <h3 class="user-avatar">アバター：</h3>
        <%= image_tag @user.avatar.variant(resize: '100x100') if @user.avatar.attached? %>
        <%= link_to "アカウント管理", edit_user_path(@user.id), class: "edit-mypage" %>
    </div>

    <h3 class="now-amigo-graph">現在のアミーゴ指標：</h3>
    <div class="user-amigo-graph">
      <div class="amigo-graph"><canvas id="amigograph" ></canvas></div>
      <button id="button">更新</button>
    </div>

    <div class="user-items">
      <h3 class="now-items">獲得アイテム：</h3>
      <table>
        <tr>
          <th>食べ物</th><th>材料</th><th>植物</th><th>ペット</th><th>隠し機能・・・</th>
        </tr>
        <tr>
          <td><br><br><br></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td><br><br><br></td><td></td><td></td><td></td><td></td>
        </tr>
      </table>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>