<div class="container">
  <div class="mypage">
    <img>
    <strong><%= @nickname %>さんのマイページ</strong>
    <%= link_to "アカウント管理", edit_user_path(current_user.id), class: "edit-mypage" %>
    <h3>現在のアミーゴ指標</h3>
    <h4>アイテム</h4>
  </div>
</div>