<div class="container">
  <div class="main-chat">
      <h2>Welcome to SPACE</h2>
      <table class="chat-table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;">usagi chan</th>
            <th style="text-align: right; font-size: 20px;">panda kun</th>
          </tr>
            <%= form_with url: "/chats", method: :post, id: "form" do |form| %>
              <%= form.text_field :content %>
              <%= form.submit 'しゃべってみる' , id: "submit" %>
            <% end %>
        </thead>
          <tbody>
            <tr>
              <td>
                <p class="chat-detail" style="text-align: left; font-size: 12px;">今日は虹を見たよ！ラッキー☆</p>
              </td>
              <td>
                <p class="chat-detail" style="text-align: right; font-size: 12px;">素敵！それはアミーゴだね！</p>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>