<div class="container">
  <div class="main-chat">
      <h2>メインチャットへようこそ</h2>
        <div class="chat-header">
          <div class="user-name">うさぎさん</div>
          <div class="user-name">パンダさん</div>
            <%= form_with url: "/chats", method: :post, id: "form" do |form| %>
            <div class="chat-form">
              <%= form.text_field :content, id: "form_text"%>
              <%= form.submit 'しゃべってみる' , id: "submit" %>
            </div>
            <% end %>
        </div>
        <div id="contents_area">
        </div>

        <% @chats.each do |chat| %>
        <div class="chat-detail">
          <%= chat.content %>
        </div>
        <% end %>

      <footer class="main-chat-footer">
        <h3>room作成ボタンを入れる</h3>
        <%#= form_with url: #, method: :post, id: "room" do |room| %>
          <%#<div class="chat-room">
            <%#= form.text_field :category, id: "room-category"%>
            <%#= form.submit 'お部屋をつくる' , id: "room-create" %>
          <%#</div>
        <%# end %>
      </footer>
  </div>
</div>