<div class="container">
  <div class="main-chat">
      <h2>Welcome to SPACE</h2>
        <div class="chat-header">
            <div class="user-name">usagi chan</div>
            <div class="user-name">panda kun</div>
            <%= form_with url: "/chats", method: :post, id: "form" do |form| %>
            <div class="chat-form">
              <%= form.text_field :content, id: "form_text"%>
              <%= form.submit 'しゃべってみる' , id: "submit" %>
            </div>
            <% end %>
        </div>
        <div id="contents_area">
        </div>

        <% @chats.each do |chat| %>
        <div class="chat-detail">
          <%= chat.content %>
        </div>
        <% end %>
  </div>
</div>