<div class="container">
  <div class="introduce">

    <h1>Amigo</h1>
    <p>誰もが日常でamigoを体験できるアプリ</p>

    <div class='top-nav'>
        <% if user_signed_in? %>
          <%= link_to "#{current_user.nickname}さんのマイページ", user_path(current_user.id), class: "mypage" %>
          <%= link_to 'メインチャットへ', chats_path, class: "main-chat" %>
        <% else %>
          <%= link_to 'サインイン', new_user_registration_path, class: "sign-up" %>
          <%= link_to 'ログイン', new_user_session_path, class: "login" %>
        <% end %>
    </div>

  </div>
</div>