<div class="container">
  <div class="room-chat-index">
    
    <h2><%= link_to current_user.nickname, user_path(current_user.id) %>さんのルームチャット</h2>
    
    <%= render "messages/room_manager" %>

  </div>
</div>

<%= render "shared/footer" %>