<div class="container">
  <div class="create-room">

    <%#= form_with url: #, method: :post, id: "room" do |room| %>
      <%#<div class="chat-room">
        <%#= form.text_field :category, id: "room-category"%>
        <%#= form.submit 'お部屋をつくる' , id: "room-create" %>
      <%#</div>
    <%# end %>
    
    <footer class="create-room-footer">
      <h3>ルームチャットへGO</h3>
    </footer>
  </div>
</div>