* {
  box-sizing: border-box;
}

.container{
  font-family: monospace;
}

/*** topページ ***/
.introduce-top{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  h1{
    font-size: 120px;
    text-align: left;
  }
  p{
    font-size: 40px;
    text-align: left;
    position: relative;
    z-index: 20;
  }
  .amigo-top{
    position: absolute;
    top: 18%;
    left: 30%;
    z-index: 10;
  }
}

.introduce-main1, .introduce-main2{
  width: 100vw;
  height: 450px;
  background-color: #ff914d;
  color: white;
  h4{
    font-size: 30px;
  }
  p{
    font-size: 18px;
    margin-left: 10px;
  }
}

.item-apple{
  text-align: right;
}

.introduce-main1{
  position: relative;
}

.buy-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 22px;
  display: inline-block;
  padding: 0.3em 1em;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

.buy-btn:hover{
  background: white;
  color: gray;
  cursor: pointer;
  cursor: hand;
}

.popup-detail{
  position: absolute;
  top: 65%;
  left: 35%;
  background-color: gray;
  padding: 5px;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
  a{
    color: white;
    font-size: 16px;
  }
}

.introduce-nav{
  width: 100vw;
  height: 100px;
  font-size: 18px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sign-up, .login, .mypage, .to-main-chat, .myroom{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.3em 1em;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

.sign-up:hover, .login:hover, .mypage:hover, .to-main-chat:hover, .myroom:hover{
  background: white;
  color: gray;
}

/*** main-chatページ ***/
.main-chat{
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  .room-btn{
    position: absolute;
    bottom: 1%;
    right: 1%;
    background-color: #ffffe0;;
  }
}

h2{
  background-color: black;
  color: white;
  font-size: 36px;
}

.c-room, .room-index{
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.c-room:hover, .room-index:hover{
  background: black;
  color: white;
}

.get-amigo-explain{
  background-color: #ffffe0;
  .amigo-icon{
    width: 50px;
    height: 20px;
  }
  .get-amigo{
    position: relative;
    display: inline-block;
    margin: 2em 1.5em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 16px;
    background: #fff0f5;
    border: solid 3px black;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .get-amigo:before{
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #fff0f5;
    z-index: 2;
  }
  .get-amigo:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid black;
    z-index: 1;
  }
}

.main-chat-header{
  display: flex;
  justify-content: flex-end;
  background-color: #ffffe0;
  padding-right: 16px;
  .user-nickname{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  .main-chat-form{
    text-align: right;
    input[type="text"]{
      width: 280px;
      height: 36px;
    }
    input[type="submit"]{
      width: 120px;
      height: 34px;
      background: #fd9535;
      color: white;
      border-top: solid 1px #d27d00;
      border-left: solid 1px #d27d00;
      border-right: solid 1px #d27d00;
      border-bottom: solid 2px #d27d00;
      border-radius: 4px;
      font-weight: bold;
    }
  }
}

.amigo-parent{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 16px;
  button{
    height: 26px;
    background:pink;
    color:white;
    font-weight: bold;
    border:solid 1px red;
    border-radius: 3px;
  }
}

.amigo-space{
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 40px;
}

.amigo-graph{
  width: 400px;
  height: 200px;
}

.amigoicon{
  animation: amigoicon 1.6s linear 0s 1;
}

@keyframes amigoicon{
  0%  { transform: scale(0.8, 1.4) translate(0%, -100%); }
  10%  { transform: scale(0.8, 1.4) translate(0%, -15%); }
  20%  { transform: scale(1.4, 0.6) translate(0%, 30%); }
  30%  { transform: scale(0.9, 1.1) translate(0%, -10%); }
  40%  { transform: scale(0.95, 1.2) translate(0%, -30%); }
  50%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
  60%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  70%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

.main-chat-detail{
  font-family: 'DotGothic16', sans-serif;
  font-size: 12px;
  margin-left: 20px;
}