.main-chat-header{
  display: flex;
  justify-content: space-around;
}

.user-nickname{
  font-size: 20px;
}

.main-chat-form{
  text-align: right;
}

.main-chat-detail{
  font-family: 'DotGothic16', sans-serif;
  font-size: 12px;
}
