/*** room-chatページ ***/
.room-chat{
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  .return-btn{
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: #ffffe0;
  }
}

.room-index, .r-mainchat{
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.room-index:hover, .r-mainchat:hover{
  background: black;
  color: white;
}

.room-explain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffe0;
  padding: 0.8em 0;
  .room-chat-users{
    .user-nickname{
      display: inline-block;
      margin-right: 20px;
      font-size: 20px;
      color: black;
      text-decoration: none;
    }
  }
  .room-chat-form{
    input[type="text"]{
      width: 280px;
      height: 36px;
    }
    input[type="submit"]{
      width: 120px;
      height: 34px;
      background-color: #fd9535;
      color: white;
      border-top: solid 1px #d27d00;
      border-left: solid 1px #d27d00;
      border-right: solid 1px #d27d00;
      border-bottom: solid 2px #d27d00;
      border-radius: 4px;
      font-weight: bold;
    }
  }
}

.room-chat-detail{
  font-family: 'DotGothic16', sans-serif;
  font-size: 12px;
  margin-left: 20px;
}