/*** room-chatページ ***/
.room-chat{
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  .return-btn{
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: #ffffe0;
  }
}

.room-index, .r-mainchat{
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.room-index:hover, .r-mainchat:hover{
  background: black;
  color: white;
}

.room-chat-header{
  display: flex;
  justify-content: space-around;
  background-color: #ffffe0;
  .user-nickname{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  .room-chat-form{
    text-align: right;
    input[type="text"]{
      width: 280px;
      height: 36px;
    }
    input[type="submit"]{
      width: 120px;
      height: 34px;
      background: #fd9535;
      color: white;
      border-bottom: solid 2px #d27d00;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
    }
  }
}

.room-chat-detail{
  font-family: 'DotGothic16', sans-serif;
  font-size: 12px;
  margin-left: 20px;
}