.room-chat-header{
  display: flex;
  justify-content: space-around;
}

.user-name{
  font-size: 20px;
}

.room-chat-form{
  text-align: right;
}

.room-chat-detail{
  font-family: 'DotGothic16', sans-serif;
  font-size: 12px;
}