/*** my-page ***/
.my-page{
  width: 100vw;
  height: calc(100vh - 120px);
}

.user-avatar, .now-amigo-graph, .now-items{
  width: 30vw;
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #010079;
  background: #87cefa;
  border-radius: 0 15px 15px 0;
  font-size: 20px;
  margin: 5px;
}

.edit-mypage{
  color: gray;
  font-size: 14px;
}

table{
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: solid 2px #ff914d;
  th{
    padding: 10px;
    color: #ff914d;
    background: #fff5e5;
    border: solid 1px #ff914d;
  }
  td{
    padding: 3px 10px;
    border: solid 1px #ff914d;
  }
}

/*** サインイン・ログイン・編集ページ ***/
.account{
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  .r-mypage-btn{
    position: absolute;
    bottom: 1%;
    right: 1%;
  }
}

.mypage-btn{
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.mypage-btn:hover{
  background: black;
  color: white;
}

.field{
  margin: 10px;
}

.actions{
  margin: 10px;
}

.nickname, .email, .avatar, .password, .password-confirmation{
  color: #010079;
  text-shadow: 0 0 5px white;
  background: #87cefa;
  border-radius: 10px;
  font-size: 24px;
  padding: 5px;
}

input[type="text"], input[type="email"], input[type="password"]{
  height: 30px;
  width: 200px;
  margin-top: 5px;
}

input[type="file"]{
  margin-top: 5px;
}

input[type="submit"]{
  width: 270px;
  height: 34px;
  background: #87cefa;
  color: white;
  border-top: solid 1px #010079;
  border-left: solid 1px #010079;
  border-right: solid 1px #010079;
  border-bottom: solid 2px #010079;
  border-radius: 4px;
  font-weight: bold;
}

.auth-page{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.auth-page:hover{
  background: black;
  color: white;
}

.auth-page-btn{
  text-align: center;
}

.forgot-password{
  color: black;
}